# Tested with Python 3.10
# Newer versions (3.11+) are expected to work but untested at this stage

# GUI and Visualization
PyQt5
matplotlib
opencv-python

# Scientific Computing
numpy>=2.0.0
scipy>=1.15.0
scikit-learn>=1.6.0
numba

# # Computer Vision and ML
ultralytics

# Camera Support
pyrealsense2
